{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid offset-md-3">
    <div class="row main-content text-center">
        <div class="col-md-4 text-center sign-in-info">
            <span class="sign-in-logo">
                <h2><span>logohere</span></h2>
            </span>
            <h4 class="sign-in-title font-head">Maximus Fitness</h4>
        </div>

        <div class="col-md-8 col-xs-12 col-sm-12 sign-in-form">
            <div class="container-fluid">
                <div class="row text-center">
                    <h2 class=" mt-3 mb-5 font-head">{% trans " Sign In" %}</h2>
                </div>
                <div class="row">
                    <form class="login form-group" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction btn btn-danger" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
                <div class="row">
                    <p class="text-muted">{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}