/* -------------------------------------------Root Colors/ set fonts */

:root {
    --brand1: #F81517;
    --brand2: #000000;
    --brand3: #ffffff;
    --bg-op-1: #dfe0e1;
    --bg-op-2: #f6f7f8;
}

/* -------------------------------------------Fonts */

.font-head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.font-body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* -------------------------------------------Navbar */
.navbar-styles {
    background: var(--brand2);
}

.navbar img {
    height: 50px;
    width: 50px;
}

.link-style{
    color: var(--brand3);
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--brand1);
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%;
}



/* -------------------------------------------Footer */


/* -------------------------------------------Media Query */

@media screen and (max-width: 768px) {
    .navbar-nav {
        align-items: center;
    }
}