/* -------------------------------------------Root Colors/ set fonts */

:root {
    --brand1: #F81517;
    --brand2: #000000;
    --brand3: #ffffff;
    --bg-op-1: #dfe0e1;
    --bg-op-2: #f6f7f8;
}

/* -------------------------------------------Fonts */

.font-head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.font-body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* -------------------------------------------Navbar */
.navbar-styles {
    background: var(--brand2);
}

.navbar img {
    height: 50px;
    width: 50px;
}


.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--brand1);
    transition: 0.4s;
}

.nav-item:hover::after {
    width: 100%;
}

/* -------------------------------------------Index */

/* -----------Jumbotron */

.jumbotron {
    background: rgba(0,0,0,0.7)url('../img/mf-banner.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--brand3);
}

.jumbotron h1 {
    margin-right: 250px;
}

.jumbotron p {
    margin-right: 200px;
}

.btn-outline-danger {
    color: var(--brand3) !important;
}

/* -----------About */

#about-section .left-slide-text{
    margin-top: 50px;
}



.barbell-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}


/* -------------------------------------------Footer */

footer {
    background: var(--bg-op-1);
}

.contact-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-me h4 {
    border-bottom: 2px solid var(--bg-op-2);
    margin-bottom: 20px;
}

.contact-me p {
    font-size: 15px;
    margin-bottom: 26px;
}

.socials {
    margin-top: 20px;
    margin-bottom: 20px;
}

.socials h4 {
    border-bottom: 2px solid var(--bg-op-2);
    margin-bottom: 20px;
}

.socials p {
    font-size: 15px;
    margin-bottom: 26px;
}

.socials a {
    color: var(--brand2);
}

.socials a:hover {
    color: var(--bg-op-2);
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.hr-line {
    height: 2px;
    width: 100%;
    background-color: var(--bg-op-2);
}

footer img {
    margin-top: 20px;
}

/* -------------------------------------------Media Query */

@media screen and (max-width: 768px) {
    .navbar-nav {
        align-items: center;
    }

    .jumbotron h1 {
        text-align: center;
        font-size: 50px;
        margin-right: 0;
    }

    .jumbotron .lead {
        font-size: 15px;
        text-align: center;
        margin-right: 0;
    }
}