{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container-fluid book-in-cont">
    <div class="row book-content mx-auto">
        {% if user.is_authenticated %}
        <div class="col-md-8 col-xs-12 col-sm-12">
            <h1 class="mt-5 mb-5 font-head">Book Your Session</h2>
                <form class="book_form" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Book Now" class="btn btn-danger book-btn">
                </form>
                
        </div>
            }
    </div>
    {% else %}
    <div class="container manage-cont">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class ="font-head">You need to be logged in, in order to book a session!</h2>
            </div>
        </div>
    </div>
    {% endif %
</div>

{% endblock %}