{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 mx-auto">
            {% if user.is_authenticated %}
            <h1 class="font-head text-center">Book Your Session</h1>
            <form method="POST">
                {% csrf_token %} {{ form | crispy }}
                <a href="{% url 'manage-session' %}" class="btn btn-danger">Submit</a>
            </form>
            {% else %} {% endif %}
        </div>
    </div>
</div>

{% endblock %}