{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid sign-up-cont">
    <div class="row main-content text-center mx-auto">
        <div class="col-md-4 text-center sign-in-info">
            <img src="{% static 'img/blk_wht_logo.png' %}" alt="logo2" class="sign-in-logo">
        </div>

        <div class="col-md-8 col-xs-12 col-sm-12 sign-in-form">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="form_head mt-3 mb-5 font-head">Cancel Booking</h2>
                </div>
                <div class="row justify-content-center">
                    <p>Are you sure you would like to cancel?</p>
                    <p>{{ session.date }} at {{ session.time }}</p>
                </div>
                <div class=" row justify-content-center mt-2 mb-5">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <a href="{% url 'manage-session' %}" class="btn btn-success">Keep</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}