{% extends 'base.html' %}

{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-2 font-head">Results one session at a time!</h1>
            <p class="lead font-body">Welcome to the maximus fitness booking system! Please login to book a session. If
                you are new please sign up to get started on your fitness journey! </p>
            <button class="btn btn-outline-danger">Login</button>
            <button class="btn btn-outline-danger">Sign Up</button>
        </div>
    </div>
</section>
<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="left-slide-text">
                    <h2><i class="fa-solid fa-question"></i> About</h2>
                    <p>This website is designed in order make session bookings fast and efficiently</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="left-slide">
            
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}