{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-2 font-head">Results one session at a time!</h1>
            <p class="lead font-body">Welcome to the maximus fitness booking system! Please login to book a session. If
                you are new please sign up to get started on your fitness journey! </p>
            <button class="btn btn-outline-danger">Login</button>
            <button class="btn btn-outline-danger">Sign Up</button>
        </div>
    </div>
</section>
<section id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="left-slide-text">
                    <h2 class="font-head"><i class="fa-solid fa-question"></i> About</h2>
                    <p class="font-body">Looking for results? Join me to begin your fitness journey. With the Maximus
                        Fitness booking
                        system it's as easy as logging in or signing up and logging in! Pick the date,
                        time and you're good to go!</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="right-slide-img">
                    <img src="{% static 'img/barbell-dl.jpg' %}" alt="barbell-deadlift" class="barbell-img">
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="responsive-map">
                    <!-- <iframe src=iframe src="
                        https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.6970909543343!2d-6.605991603134905!3d53.38446908384344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48676ffcdcc92cdb%3A0x6f5cd6c5322dea2f!2sMaynooth%20University%20Sports%20Centre!5e0!3m2!1sen!2sie!4v1683019991809!5m2!1sen!2sie"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="right-slide-text text-right">
                    <h2 class="font-head"><i class="fa-solid fa-location-dot"></i> Location</h2>
                    <p class="font-body">All sessions ranging from pt, strength and conditioning classes and one on one
                        takes place at
                        Maynooth University</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tester_new text-center">
    <h2 class="mt-5 font-head">What Clients Say</h2>
    <hr>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="font-body">"Good understanding of the needs an athlete needs in order to perfor at
                            their peak. My
                            stamina, endurance and explosivness has greatly increased! Max is the real deal!"</p>
                        <hr>
                        <h5>John Doe</h5>
                        <p class="font-body">Muay Thai Fighter</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="font-body">"Max really helped me to improve my weak points! Overall allowing me to
                            bring a better and
                            more conditioned physique on stage, I would highly reccomend!"</p>
                        <hr>
                        <h5>Ryan Garcia</h5>
                        <p class="font-body">Mens Physique Competitor</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <p class="font-body">"Well structured blocks of trianing, with eack block having a specific
                            purpose. Not only has
                            my body responded well but my run times have drastically improved."</p>
                        <hr>
                        <h5>Luke Stuart</h5>
                        <p class="font-body">Distance Runner</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}