{% extends 'base.html' %} {% block content %}
<div class="container"></div>
<div class="header text-center">
    <h1 class="font-head mt-5">Your Sessions</h1>
    <p class="font-body">Manage your sessions here</p>
</div>
{% for item in items %}
<div class="py-5">
    <div class="container">
        <div class="row hidden-md-up">
            <div class="col-md">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title font-head">
                            <i class="fa-duotone fa-dumbbell" style="
                  --fa-primary-color: #000000;
                  --fa-secondary-color: #c60101;
                  --fa-secondary-opacity: 1;
                "></i>
                            {{ item.fname }}
                        </h4>
                        <p class="card-text font-body p-y-1">
                            <i class="fa-solid fa-calendar"></i> {{ item.date }}
                        </p>
                        <p class="font-body p-y-1">
                            <i class="fa-solid fa-clock"></i> {{ item.time }}
                        </p>
                        {% if item.confirmed %}
                        <p class="font-body p-y-1">
                            Confirmed Status :
                            <i class="fa-solid fa-circle-check" style="color: #34c200"></i>
                        </p>
                        {% else %}
                        <p class="font-body p-y-1">
                            Confirmed Status :
                            <i class="fa-solid fa-circle-xmark" style="color: #f00000"></i>
                        </p>
                        {% endif %}
                        <a href="{% url 'update-session' item.id %}" class="card-link btn btn-success">Update</a>
                        <a href="{% url 'delete-session' session.id %}" class="card-link btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="container manage-cont">
    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-5">
            <h2 class="font-head">You Currently Have no booked slots!</h2>
            <p class="font-body text-muted">Please go to the "Book A Session"</p>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}