{% extends 'base.html' %}
{% block content %}
<div class="container"></div>
<div class="header text-center">
    <h1 class="font-head mt-5">Your Sessions</h1>
    <p class="font-body">Manage your sessions here</p>
</div>
{% for item in items %}
3
{% empty %}
<div class="container manage-cont">
    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-5">
            <h2 class="font-head">You Currently Have no booked slots!</h2>
            <p class="font-body text-muted">Please go to the "Book A Session"</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}