{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="header text-center">
    <h1 class="font-head mt-5 mb-4">Update Session</h1>
</div>


<div class="container mt-2 mb-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card update-card-style">
                <div class="card-block">
                    <form method="POST">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}